<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery-3.4.0.js"></script>
	<script src="js/jquery-migrate-1.4.1.js"></script>
	<script src="js/slick.js"></script>
	<script src="js/main.js"></script>
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/nav.css">
	<link rel="stylesheet" href="css/styles.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="home">
	<header>
		<nav class="nav-primary">
			<div class="nav-primary-container">
				<a href="#" class="nav-primary-logo">
					<img src="./images/logo/logo.png" alt="Marlen Cinemas">
				</a>
				<ul class="nav-primary-nav">
					<li class="nav-primary-main-menu">
						<a href="#">Movies</a></li>
					<li class="nav-primary-main-menu">
						<a href="#">Cinemas</a></li>
					<li class="nav-primary-main-menu">
						<a href="#">Events</a></li>
					<li class="nav-primary-main-menu">
						<a href="#">Services</a></li>
					<li class="nav-primary-main-menu">
						<a href="#">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<section class="carousel-section-wrapper">
		<section class="carousel-section">
                <span>
		<div id="carousel-background" class="carousel-background">
			<span>
				<div id="carousel-background-slideshow" class="carousel-background-slideshow">
<!--				<img src="https://media.pathe.nl/thumb/360x508/gfx_content/posters/starwarsriseofskywalkerlowres.png" style="opacity: 1;">-->
			</div>
			</span>
		</div>
		<div id="carousel-container" class="carousel-container">
			<div class="carousel-container-content">
				<div>
					<ul id="js-carousel-tabs" class="tabs tabs-carousel-home">
            <li class="tabs-item">
                <input type="radio" name="homemovie-category" id="NowPlaying" value="NowPlaying">
                <label for="NowPlaying" class="tabs-link"> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NOW PLAYING</font></font></span></label>
            </li>
            <li class="tabs-item">
                <input type="radio" name="homemovie-category" id="ComingSoon" value="ComingSoon">
                <label for="ComingSoon" class="tabs-link"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">COMING SOON</font></font></span></label>
            </li>
            <li class="tabs-item">
                <input type="radio" name="homemovie-category" id="Specials" value="Specials">
                <label for="Specials" class="tabs-link"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EVENTS</font></font></span></label>
            </li>
            <li class="tabs-item">
                <input type="radio" name="homemovie-category" id="Kids" value="Kids">
                <label for="Kids" class="tabs-link"><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3D MOVIES</font></font></span></label>
            </li>
        </ul>
				</div>
				<div id="poster-carousel" class="poster-carousel poster-carousel-home">

				</div>
			</div>
			</div>
    </span>
		</section>
<div class="container">
<!--	cinemas and others can come here-->
</div>
	</section>
	<footer class="footer">
		<div class="footer-desktop">
			<div class="footer-desktop-default">
				<ul>
					<li><a href="#">Join Us</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Terms & Conditions</a></li>
				</ul>
				<ul class="footer-social">
					<li><a href="https://twitter.com/" target="blank" class="twitter">Twitter</a></li>
					<li><a href="https://www.facebook.com/" target="blank" class="facebook">Facebook</a></li>
					<li><a href="http://instagram.com/" target="blank" class="instagram">Instagram</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>
</body>

</html>